
@{
    ViewData["Title"] = "ViewSpecialFlightDeals";
}

<h1>View Special Flight Deals</h1>

@model IEnumerable<SpeedPort_Airlines.Models.DestinationCountryEntity>

<center>
    <table border="1">
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Season</th>
            <th>Promo Expiry Date</th>
            <th>Promo Code</th>
        </tr>
        @foreach (var country in Model)
        {
            <tr>
                <td>@country.PartitionKey</td>
                <td>@country.RowKey</td>
                <td>@country.Season</td>
                <td>@country.PromoExpiry</td>
                <td>@country.PromoCode</td>
            </tr>
        }
    </table>
</center>
